DJANGO_SECRET_KEY=""

EMAIL_BACKEND=""

CACHE_BACKEND=""
CACHE_LOCATION=""

TELEGRAM_LOGGER_TOKEN=""
TELEGRAM_LOGGER_RECEIVER_IDS=""
TELEGRAM_LOGGER_BASE=""

EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
EMAIL_USE_TLS=0
EMAIL_USE_SSL=1
SERVER_EMAIL=""
DEFAULT_FROM_EMAIL=""

CELERY_BROKER_URL=""
CELERY_RESULT_BACKEND=""

MYPY_DJANGO_CONFIG=""