{% extends 'base.html' %}
{% load static %}
{% block title %}Совет молодых учёных ЕГУ{% endblock %}

{% block content %}
<h1>Совет молодых ученых</h1>
    
<b>Совет молодых ученых ЕГУ</b> — постоянно действующий совещательный орган Елецкого государственного университета, 
собрание молодых ученых, преподавателей, аспирантов и докторантов. 
В рамках Совета функционирует четыре комитета, соответствующих направлениям его деятельности: научный, методический, 
комитет грантовой поддержки и комитет внешних связей.
 

<h2>Цели деятельности Совета: </h2>
<ul class="index-list">
<li>развитие научного и профессионального потенциала для стимулирования инновационной активности молодых ученых и преподавателей ЕГУ;</li>
<li>содействие информационному обеспечению научных исследований молодых ученых и преподавателей, профессиональному росту научной молодежи ЕГУ, развитию молодежных научных и педагогических инициатив;</li>
<li>объединение научной молодежи, сохранение научного потенциала, закрепление молодых научных и преподавательских кадров, распространение результатов исследований молодых ученых, их внедрение в практику;</li>
<li>содействие укреплению и развитию международных связей молодых ученых ЕГУ;</li>
<li>разработка предложений и мер по стимулированию молодых ученых и преподавателей ЕГУ.</li>
</ul>

<h2>Для достижения своих целей Совет решает следующие задачи:</h2>
<ul class="index-list">
<li>поддерживает и координирует деятельность, направленную на развитие научных инициатив молодых учёных, их профессиональный рост и закрепление молодых кадров в ЕГУ;</li>
<li>организует информационное и методическое обеспечение условий профессионального роста молодых учёных;</li>
<li>ведет поиск новых форм работы молодых ученых, выступает инициатором их внедрения в практику, обобщает и распространяет положительный опыт научной работы различных подразделений ЕГУ и других российских и зарубежных организаций;</li>
<li>представляет интересы молодых учёных СПбГЭУ в государственных, муниципальных, научных, общественных организациях и средствах массовой информации;</li>
<li>сотрудничает со студенческими организациями СПбГЭУ и привлекает молодых ученых к развитию научной деятельности студентов;</li>
<li>готовит экспертно-аналитические, информационные и иные материалы, связанные с деятельностью Совета;</li>
<li>обеспечивает поддержание научной преемственности, развития научных направлений университета;</li>
<li>вносит предложения руководству ЕГУ по улучшению условий труда, социального обеспечения и введению форм поощрения для выдающихся представителей научной молодежи;</li>
<li>организует и проводит научные конференций, семинары, выездные школы и другие мероприятия, в которых могут принимать участие молодые учёные и преподаватели ЕГУ;</li>
<li>осуществляет накопление, обмен и обобщение опыта функционирования Советов молодых ученых и преподавателей других вузов и иных организаций.</li>
</ul>

<h2 class="my-2">Нормативные документы</h2>
<div class="download-card">
    <img src="{% static 'img/download-ico.png' %}" alt="Download Icon" class="download-icon">
    <h3 class="download-title">ПОЛОЖЕНИЕ о СМУ ЕГУ</h3>
    <a class="btn btn-main" href="{% static 'resources/ПОЛОЖЕНИЕ о СМУ ЕГУ.pdf' %}" download>Скачать</a>
</div>
<div class="download-card">
    <img src="{% static 'img/download-ico.png' %}" alt="Download Icon" class="download-icon">
    <h3 class="download-title">Приказ о создании СМУ</h3>
    <a class="btn btn-main" href="{% static 'resources/Приказ о создании СМУ.pdf' %}" download>Скачать</a>
</div>

<div class="index-nav-btn mx-2 my-2">
<a href="{% url "members:members_list" %}" class="btn btn-main">Состав Совета молодых учёных</a>
<a href="{% url "events:events_list" %}" class="btn btn-main">Научные мероприятия Совета молодых ученых</a>
</div>


  
    


{% endblock %}
