{% extends 'base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<h1>Контакты СМУ</h1>

<h2>Председатель: Шубкин Сергей Юрьевич</h2>
<p><b>Полное название:</b>  Федеральное государственное бюджетное образовательное учреждение высшего образования «Елецкий государственный университет им. И. А. Бунина»</p>

<p><b>Сокращенное название:</b> ФГБОУ ВО «Елецкий государственный университет им. И.А. Бунина», ЕГУ им. И.А. Бунина.</p>

<p><b>Адрес:</b> 399770, Российская Федерация, Липецкая область, г. Елец, ул. Коммунаров,  д. 28, Елецкий государственный университет имени И. А. Бунина</p>

<p><b>Ректор:</b> ЩЕРБАТЫХ СЕРГЕЙ ВИКТОРОВИЧ</p>

<p><b>Телефон:</b> +7 (47467) 2 - 21 - 93   <b>Факс:</b> +7 (47467) 2 - 16 - 98 </p>

<p><b>Официальный сайт:</b> <a href="https://WWW.ELSU.RU">WWW.ELSU.RU</a></p>

<p><b>E-mail:</b> <a href="mailto:MAIN@ELSU.RU">MAIN@ELSU.RU</a></p>

<h2>Социальные сети</h2>
<div class="contacts-socials-links my-2">
<!-- Vkontakte -->
<a class="btn btn-primary" style="background-color: var(--main2);" href="https://vk.com/bunin_science_band" target="_blank" role="button"
  ><i class="fab fa-vk fa-2x"></i>
</a>

<!-- Youtube -->
<a class="btn btn-primary" style="background-color:var(--main1);" href="#" role="button" target="_blank"
  ><i class="fab fa-youtube fa-2x"></i>
</a>
</div>

{% endblock %}
